h1{
    color: red;
}

h2, h3
{
    color: blue;
}

main{
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
}

a:hover
{
    color:blue;
}

.logo
{
    width: 150px;
    height: 150px;
    vertical-align: bottom;
}

.illustration
{
    margin-top: 50px;
}
