body{
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    font-family: 'Abril Fatface', cursive;
    color: red;
}

h2, h3
{
    color: blue;
}

.illustration
{
    width: 1200px;
}

main{
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
}

a:hover
{
    color:blue;
}

ul{
    display: flex;
    align-items: center;
    
}

li{
    list-style-type: none;
    padding: 30px;
}

.illustration
{
    margin-top: 50px;
}



