body{
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    font-family: 'Abril Fatface', cursive;
    color: red;
}

main{
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    
}

form{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-left: 300px;
}

textarea{
    height: 200px;
}

.envoyer
{
    width: 100px;   
    margin-left: 235px;
    margin-top: 10px;
    font-family: 'Montserrat';
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: #1da1f3;
    width: 140px;
    height: 40px;
    border: none;
}

.envoyer:hover
{
    color:blue;
}

label{
    margin-top: 10px;
}