
body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Abril Fatface', cursive;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: 1200px;
    margin: auto;
}

ul{
    display: flex;
    align-items: center;
}

li{
    list-style-type: none;
    padding: 30px;
}

a{
    text-decoration: none;
}

.lien_nav:visited
{
    color: grey;
}

.lien_nav:hover
{
    color:blue;
}

.logo
{
    width: 150px;
    height: 150px;
}



