
body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Abril Fatface', cursive;
}

h1, h2{
    color: red;
}

.sous_titre{
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 40px;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    padding: 30px;
}

a{
    text-decoration: none;
}

.lien_nav:visited
{
    color: grey;
}

.lien_nav:hover
{
    color:blue;
}

.logo
{
    width: 150px;
}
.social
{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.bas
{
    display: flex;
    flex-direction: column;
    max-width:1200px;
}

.logo2
{
    width: 350px;
    height: 350px;
    padding-left: 150px;
}

.boutonlien1
{
    margin: 15px;
    font-family: 'Montserrat';
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: #50abf1;
    width: 140px;
    height: 40px;
    text-align: center;

}
.im1
{

    width: 25px;
    height: 25px;
    padding-right: 10px;
    margin-left: 20px;
    text-decoration: none;
}
 .boutonlien li a 
 {
     display: flex;
     align-items: center;
 }
 
 .boutonlien2
{
    margin: 15px;
    font-family: 'Montserrat';
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: #0077b5;
    width: 140px;
    height: 40px;
    text-align: center;
 
}
.boutonlien3
{
    margin: 15px;
    font-family: 'Montserrat';
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 140px;
    height: 40px;
    text-align: center;
}