main {
    display: flex;
    max-width: 1050px;
    margin: auto;
    flex-direction: column;

}

form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

input[type="text"] {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

textarea {
    height: 200px;
    border-radius: 10px;
}

.envoyer {
    font-family: 'Montserrat';
    color: white;
    background-color: #1da1f3;
    width: 140px;
    height: 40px;
    border: none;
    margin: 10px auto 0 auto;
}

.envoyer:hover {
    color: blue;
}

label {
    margin-top: 10px;
}